@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model dynamic


    <div>
        <div class="mr-3">
            <a asp-controller="Profile" asp-action="GetProfile" asp-route-id="@Model.profile.ProfileUsername"><p>@Model.profile.ProfileUsername</p></a>
            <p>@Model.profile.ProfileTypeOfWriter</p>
            <p>@Model.profile.ProfileDescription</p>
            @foreach (var genre in Model.genres)
            {
                <p>@genre.StoryGenre</p>
            }

            @foreach (var tag in Model.tags)
            {
                <p>@tag.StoryTag</p>
            }
        </div>
        <h2 class="text-center display-4 mt-3 mb-0">@Model.story.StoryTitle</h2>
        <div class="border-left border-right" style="display: flex; position: relative;">
            @if (Model.story.StoryContent != null)
            {
                <p>@Model.story.StoryContent</p>
            }
            else
            {
                <i class="las la-caret-square-right"></i>
                <i class="las la-caret-square-left"></i>
                @foreach (var chapter in Model.chapters)
                {
                    <div class="display-story-content-container p-4">
                        <div class="text-center">
                            <h3 class="d-inline-block mb-5 mt-5 border-bottom">@chapter.ChapterTitle</h3>
                        </div>
                        <p style="line-height: 32px; font-size: 20px;">@chapter.ChapterContent</p>
                    </div>
                }
            }
        </div>
    </div>