@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model dynamic


    <div id="story-view-page" class="mb-4 mt-4">
        <div style="display: grid; grid-template-columns: 25% 75%; min-height: 100vh;">
            <div class="d-flex justify-content-center flex-column mr-3">
                <h2 class="display-4">@Model.story.StoryTitle</h2>
                <a style="color: inherit;" asp-controller="Profile" asp-action="GetProfile" asp-route-id="@Model.profile.ProfileUsername">
                   <p class="mb-1 ml-1 mr-1 text-muted" style="font-size: 16px;">by @Model.profile.ProfileUsername</p>
                </a>
                <div class="d-flex mb-5">
                    @foreach (var genre in Model.genres)
                    {
                        <p class="p-2 m-1 text-muted" style="font-size: 15px; border-radius: 100px; background-color: #DCDCDC;">@genre.StoryGenre</p>
                    }
                </div>
            </div>
            <div class="border-left border-right" style="display: flex; position: relative;">
                @if (Model.story.StoryContent != null)
                {
                <div class="display-story-content-container p-5">
                    <p class="pl-5 pr-5 text-muted" style="line-height: 32px; font-size: 16px;">"@Model.story.StoryHeadline"</p>
                    <p class="pl-5 pr-5" style="line-height: 32px; font-size: 20px;">@Model.story.StoryContent</p>
                </div>
                }
                else
                {
                    <i class="las la-caret-square-right"></i>
                    <i class="las la-caret-square-left"></i>
                    @foreach (var chapter in Model.chapters)
                    {
                        <div class="display-story-chapter-content-container p-5">
                            <p class="pl-5 pr-5 text-muted" style="line-height: 32px; font-size: 16px;">"@Model.story.StoryHeadline"</p>
                            <div class="text-center">
                                <h3 class="d-inline-block mb-5 border-bottom">@chapter.ChapterTitle</h3>
                            </div>
                            <p class="pl-5 pr-5" style="line-height: 32px; font-size: 20px;">@chapter.ChapterContent</p>
                        </div>
                    }
                }
            </div>
        </div>
    </div>